.edge {
    stroke-dasharray: 0;
    animation: none;
}

.edgeAnimation {
    stroke-dasharray: 2;
    animation: dash 250s linear infinite;
}

@keyframes dash {
    from {
        stroke-dashoffset: 1000;
    }
}