.ripple {
    border-radius: 50%;
    background-color: var(--color-reveal-highlight);
    position: absolute;
    transform: scale(0);
    animation: ripple 0.8s linear;
  }
  
@keyframes ripple {

    to {
      transform: scale(4);
      opacity: 0;
    }
  }